body {
    background-image: url("../imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

a:hover {
    color: magenta;
    text-decoration: none;
}

.cuadro {
    margin-top: -16px;
    color: white;
    background-image: linear-gradient(180deg, #b131ab 0, #872898 25%, #5b1c7e 50%, #311063 75%, #05064a 100%);
    margin-left: -20px;
    height: 400px;
}

.links {
    display: inline-block;
    color: white;
    margin-top: -200px;
    text-decoration: none;
    padding: 7px;
    font-family: "Gill Sans MT";
}

.cuadroInside {
    text-align: center;
    color: white;
    font-family: "Gill Sans MT";
    font-size: 30px;
    margin-top: -30px;
}

.nav {
    height: 50px;
    margin-top: 0px;
    background-color: #303030;
}
.search{
    display: inline;
    margin-top: -5px;
    background-color: white;
    padding-right: 90px;
    border-radius: 20px;
    padding-top: 13px;
    padding-bottom: 11px;
    border: 0px;
}
.link {
    padding: 8px;
    color: white;
    margin-top: 9px;
    text-decoration: none;
    display: inline-block;
    font-family: "Gill Sans MT";
}
.link2 {
    margin-left: -30px;
    margin-top: -20px;
    padding: 12px;
    background-color: #303030;;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-family: "Gill Sans MT";
}